xml-resources/web-service-references/Service1/wsdl/sornyeteg.cloudapp.net/Service1.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1"><xs:complexType name="TempInfo"><xs:sequence><xs:element minOccurs="0" name="HLTTemp" type="xs:float"/><xs:element minOccurs="0" name="MTTemp" type="xs:float"/></xs:sequence></xs:complexType><xs:element name="TempInfo" nillable="true" type="tns:TempInfo"/></xs:schema>