src/META-INF/wsdl/sornyeteg.cloudapp.net/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://sornyeteg.cloudapp.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1"/><xs:element name="UpdateTempInfo"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="HLTTemp" nillable="true" type="q1:TempInfo" xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1"/><xs:element minOccurs="0" name="MTTemp" nillable="true" type="q2:TempInfo" xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1"/></xs:sequence></xs:complexType></xs:element><xs:element name="UpdateTempInfoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="UpdateTempInfoResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>